@{
	ViewData["Title"] = "Delete Error";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
	<h1 class="display-4">Delete Error</h1>
	<p class="lead">This cinema cannot be deleted because it has associated movies.</p>
	<p><a asp-action="Index" asp-controller="Cinemas">Back to Cinemas List</a></p>
</div>

